{% extends "inicio/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="d-flex justify-content-center mb-4">
        Detalles Agenda: {{ paciente.nombre }}, {{ paciente.apellido }}
    </h2>

    <div class="card p-4 shadow-sm">
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Hora Inicio:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.hora_inicio }}
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Hora Fin:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.hora_fin }}
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Día:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.id_dia }}
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Tratamiento:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.id_tratamiento_rehab.nombre }}
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Profesional:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.id_profesional_area.id_profesional.apellido }}, {{ agenda.id_profesional_area.id_profesional.nombre }}
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label text-sm-end">
                Observaciones:
            </label>
            <div class="col-sm-7">
                <div class="form-control bg-light">
                    {{ agenda.observaciones }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}