{% extends 'inicio/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar Diagnóstico Etiológico</h2>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <div class="card p-4 shadow-sm">
        <form method="post">
            {% csrf_token %}
            {{ form.id_alta }}
            {{ form.id_usuario }}

            <div class="mb-3">
                <label for="{{ form.id_diagnostico_etiologico.id_for_label }}" class="form-label">Seleccione un diagnóstico etiológico</label>
                {{ form.id_diagnostico_etiologico }}
            </div>

            <div class="mb-3">
                <label for="{{ form.observaciones.id_for_label }}" class="form-label">Observaciones</label>
                {{ form.observaciones }}
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'alta_etiologico_list' alta.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
