{% extends "home/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="d-flex justify-content-center mb-4">Gestionar Agenda</h2>
    <div class="card p-4 shadow-sm">
        <form method="post">
            {% csrf_token %}
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Fecha:</label>
                <div class="col-sm-6">
                    {{ form.fecha }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Hora Inicio:</label>
                <div class="col-sm-6">
                    {{ form.hora_inicio }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Hora Fin:</label>
                <div class="col-sm-6">
                    {{ form.hora_fin }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Dias:</label>
                <div class="col-sm-6">
                    {{ form.id_dia }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Profesional:</label>
                <div class="col-sm-6">
                    <select class="form-control custom-class" id="select-profesional" name="select">
                        <option>Seleccione un profesional</option>
                        {% for profesional in profesionales %}
                        <option value="{{ profesional.id }}">{{ profesional.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Tratamiento:</label>
                <div class="col-sm-6">
                    <select class="form-control custom-class" id="select-tratamiento" name="id_profesional_tratamiento">
                        <option>Seleccione un tratamiento</option>
                        {% for tratamiento in tratamientosActivos %}
                            <option value="{{ tratamiento.id }}" data-profesional-id="{{ tratamiento.id_profesional.id }}">
                                {{ tratamiento }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            {{ form.id_usuario }}
            <div class="d-flex justify-content-center">
                <button type="submit" class=" btn btn-success">
                    <i class="bi bi-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    // Asegúrate de que el script se ejecute después de que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function () {
        const profesionalSelect = document.getElementById('select-profesional');
        const tratamientoSelect = document.getElementById('select-tratamiento');

        // Almacena todas las opciones originales
        const tratamientosOriginales = Array.from(tratamientoSelect.querySelectorAll('option[data-profesional-id]'));
        profesionalSelect.addEventListener('change', function () {
            const profesionalId = this.value;
            // Limpia las opciones actuales
            tratamientoSelect.innerHTML = '<option value="">Seleccione un tratamiento</option>';

            // Filtra y añade las opciones correspondientes
            tratamientosOriginales.forEach(option => {
                if (option.getAttribute('data-profesional-id') == profesionalId) {
                    tratamientoSelect.appendChild(option.cloneNode(true));
                }
            });
        });
    });
</script>

{% endblock %}