<!DOCTYPE html>
<html lang="es">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CERMED</title>
    <link rel="icon" type="image/x-icon" href="{% static 'public/cermed_icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav style="background-color: #009f95;" class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img class="imagen" style="width: 30px; height: 30px;" src="{% static 'public/cermed_sin_fondo_white.png' %}" alt="E"> Inicio
            </a>
            {% if user.is_authenticated %}
            <a class="nav-link text-light"><i class="bi bi-person-badge"></i> Usuario: {{ user.username }}</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'check_in' %}"><i class="bi bi-clipboard-check"></i> Check In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-x-square-fill"></i> Desconectar</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="bi bi-person-badge"></i> Registro</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-person-badge"></i> Login</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>