{% extends 'inicio/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4" style="color: #009f95;">Actualizar Rehabilitacion Paciente</h2>

    <div class="card shadow-sm p-4">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="{{ form.nombre_tutor.id_for_label }}" class="form-label">Nombre Tutor</label>
                    {{ form.nombre_tutor }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.celular_tutor.id_for_label }}" class="form-label">Celular Tutor</label>
                    {{ form.celular_tutor }}
                    {% if form.celular_tutor.errors %}
                        <div class="alert alert-danger py-1 mt-2 mb-0">{{ form.celular_tutor.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.hijos.id_for_label }}" class="form-label">Cantidad de Hijos</label>
                    {{ form.hijos }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.id_obra_social.id_for_label }}" class="form-label">Obra Social</label>
                    {{ form.id_obra_social }}
                    {% if form.id_obra_social.errors %}
                        <div class="alert alert-danger py-1 mt-2 mb-0">{{ form.id_obra_social.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.fecha_junta.id_for_label }}" class="form-label">Fecha Junta</label>
                    {{ form.fecha_junta }}
                    {% if form.fecha_junta.errors %}
                        <div class="alert alert-danger py-1 mt-2 mb-0">{{ form.fecha_junta.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="{{ form.id_estado_certificado.id_for_label }}" class="form-label">Estado Certificado</label>
                    {{ form.id_estado_certificado }}
                </div>
                <div class="col-md-3 mb-3">
                    <label for="{{ form.vencimiento_certificado.id_for_label }}" class="form-label">Vencimiento Certificado</label>
                    {{ form.vencimiento_certificado }}
                </div>
                <div class="col-md-5 mb-3">
                    <label for="{{ form.diagnosticoCUD.id_for_label }}" class="form-label">Diagnostico Certificado Unico de Discapacidad</label>
                    {{ form.diagnosticoCUD }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.ven_presupuesto.id_for_label }}" class="form-label">Vencimiento Presupuesto</label>
                    {{ form.ven_presupuesto }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.vencimiento_presupuesto.id_for_label }}" class="form-label">Fecha de Vencimiento Presupuesto</label>
                    {{ form.vencimiento_presupuesto }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.id_derivador.id_for_label }}" class="form-label">Derivador</label>
                    {{ form.id_derivador }}
                    {% if form.id_derivador.errors %}
                        <div class="alert alert-danger py-1 mt-2 mb-0">{{ form.id_derivador.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.id_conocer.id_for_label }}" class="form-label">Como Contacto?</label>
                    {{ form.id_conocer }}
                    {% if form.id_conocer.errors %}
                        <div class="alert alert-danger py-1 mt-2 mb-0">{{ form.id_conocer.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.puerto_esperanza.id_for_label }}" class="form-label">Puerto Esperanza</label>
                    {{ form.puerto_esperanza }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="{{ form.puerto_esperanza.id_for_label }}" class="form-label">Pre-Ingreso</label>
                    {{ form.pre_ingreso }}
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn" style="background-color: #009f95; color: white;">
                    <i class="bi bi-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let estadoSelect = document.getElementById("id_id_estado_certificado");
        let vencimientoCert = document.getElementById("id_vencimiento_certificado");
        let ven_presupuesto = document.getElementById("ven_presupuesto");
        let vencimiento_presupuesto = document.getElementById("vencimiento_presupuesto");
        let diagnosticoCUD = document.getElementById("diagnosticoCUD");
    
        function toggleFechas() {
            let valor = estadoSelect.value;
            if (valor == 2) {
                vencimientoCert.disabled = false;
                diagnosticoCUD.disabled = false;
            } else {
                vencimientoCert.disabled = true;
                diagnosticoCUD.disabled = true;
            }
        }

        function toggleFechaVencPresupuesto() {
            let valor = ven_presupuesto.value;
            if (valor == "True") {
                vencimiento_presupuesto.disabled = false;
            } else {
                vencimiento_presupuesto.disabled = true;
            }
        }
    
        estadoSelect.addEventListener("change", toggleFechas);
        ven_presupuesto.addEventListener("change", toggleFechaVencPresupuesto);
    
        toggleFechas();
        toggleFechaVencPresupuesto();
    });
</script>
{% endblock %}
