{% extends "home/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="d-flex justify-content-center mb-4">Nuevo Paciente</h2>
    <div class="card p-4 shadow-sm">
        <form method="post">
            {% csrf_token %}
            {{ form.id_usuario }}            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Nombre:</label>
                <div class="col-sm-6">
                    {{ form.nombre }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Apellido:</label>
                <div class="col-sm-6">
                    {{ form.apellido }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">DNI:</label>
                <div class="col-sm-6">
                    {{ form.numero_dni }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">F. de Nacimiento:</label>
                <div class="col-sm-6">
                    {{ form.fecha_nacimiento }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Obra Social:</label>
                <div class="col-sm-6">
                    {{ form.id_obra_social }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Estado Civil:</label>
                <div class="col-sm-6">
                    {{ form.id_estado_civil }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Sexo:</label>
                <div class="col-sm-6">
                    {{ form.id_sexo }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Localidad:</label>
                <div class="col-sm-6">
                    {{ form.id_localidad }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Dirección:</label>
                <div class="col-sm-6">
                    {{ form.direccion }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Teléfono:</label>
                <div class="col-sm-6">
                    {{ form.telefono }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            
            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Celular:</label>
                <div class="col-sm-6">
                    {{ form.celular }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="mb-2 row">
                <label class="d-flex justify-content-end col-sm-2 col-form-label">Observaciones:</label>
                <div class="col-sm-6">
                    {{ form.observaciones }}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class=" btn btn-success">
                    <i class="bi bi-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
