{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Planes Paciente: {{ paciente.apellido }}, {{ paciente.nombre }}</h2>
    {% if paciente_plan_exist == False %}
    <a href="{% url 'paciente_plan_create' paciente.id %}" class="btn btn-success mb-4">
        <i class="bi bi-plus-circle"></i> Asignar Plan
    </a>
    {% else %}
    <a href="#" class="btn btn-warning mb-4 disabled">
        <i class="bi bi-slash-circle"></i> No mas de un Plan Activo
    </a>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Plan</th>
                    <th>Fecha</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for plan_planciente in planes_paciente %}
                <tr>
                    {% if plan_planciente.activo == True %}
                    <td class="bg-success text-white">{{ plan_planciente.id_plan.nombre }}</td>
                    <td class="bg-success text-white">{{ plan_planciente.fecha }}</td>
                    <td class="bg-success text-white">{{ plan_planciente.activo }}</td>
                    <td class="bg-success text-white">
                        <a href="{% url 'paciente_plan_delete' plan_planciente.id %}"
                            class="btn btn-danger btn-sm me-2"
                            onclick="return confirm('¿Estás seguro de que deseas finalizar esta plan?');">
                            <i class="bi bi-trash"></i> Finalizar Plan
                        </a>
                    </td>
                    {% else %}
                    <td class="bg-danger text-white">{{ plan_planciente.id_plan.nombre }}</td>
                    <td class="bg-danger text-white">{{ plan_planciente.fecha }}</td>
                    <td class="bg-danger text-white">{{ plan_planciente.activo }}</td>
                    <td class="bg-danger text-white">
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'paciente_detail' paciente.id %}" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle me-2"></i> Volver a detalle
    </a>
</div>
{% endblock %}