{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Asistencias</h2>
    <a href="{% url 'asistencias_csv' %}?{{ request.GET.urlencode }}" class="btn btn-primary mb-4">
        <i class="bi bi-person-plus"></i> Guardar EXCEL
    </a>
    <form method="GET" action="{% url 'asistencias' %}" class="d-flex align-items-center gap-3">
        
        <div class="d-flex align-items-center">
            <label class="me-2 fw-bold">Apellido Paciente:</label>
            {{ form.id_prestacion_paciente__id_paciente__apellido }}
        </div>

        <div class="d-flex align-items-center">
            <label class="me-2 fw-bold">Fecha desde:</label>
            <input type="date" id="fecha-desde" class="form-control" placeholder="Seleccione la fecha desde" name="fecha_after" value="{{ request.GET.fecha_after }}">
        </div>

        <div class="d-flex align-items-center">
            <label class="me-2 fw-bold">Fecha hasta:</label>
            <input type="date" id="fecha-hasta" class="form-control" placeholder="Seleccione la fecha hasta" name="fecha_before" value="{{ request.GET.fecha_before }}">
        </div>

        <div class="d-flex align-items-center">
            <label class="me-2 fw-bold">Obra Social:</label>
            {{ form.id_prestacion_paciente__id_obra_social }}
        </div>

        <div class="d-flex align-items-center">
            <label class="me-2 fw-bold">Prestacion:</label>
            {{ form.id_prestacion_paciente__id_prestacion }}
        </div>
        
        <button type="submit" class="btn btn-success btn-sm ms-3">
            <i class="bi bi-filter-square"></i> Filtrar
        </button>
    </form>
    

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'id_prestacion_paciente__id_paciente__apellido' %}-id_prestacion_paciente__id_paciente__apellido{% else %}id_prestacion_paciente__id_paciente__apellido{% endif %}">
                        Apellido
                        {% if request.GET.ordering == 'id_prestacion_paciente__id_paciente__apellido' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-id_prestacion_paciente__id_paciente__apellido' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'id_prestacion_paciente__id_paciente__nombre' %}-id_prestacion_paciente__id_paciente__nombre{% else %}id_prestacion_paciente__id_paciente__nombre{% endif %}">
                        Nombre
                        {% if request.GET.ordering == 'id_prestacion_paciente__id_paciente__nombre' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-id_prestacion_paciente__id_paciente__nombre' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'fecha' %}-fecha{% else %}fecha{% endif %}">
                        Fecha
                        {% if request.GET.ordering == 'fecha' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-fecha' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'hora' %}-hora{% else %}hora{% endif %}">
                        Hora Registro
                        {% if request.GET.ordering == 'hora' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-hora' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="#">
                        Hora Agenda
                    </a>
                </th>
                <th>
                    <a href="#">
                        Tiempo Trabajado
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'id_prestacion_paciente__id_prestacion__nombre' %}-id_prestacion_paciente__id_prestacion__nombre{% else %}id_prestacion_paciente__id_prestacion__nombre{% endif %}">
                        Prestación
                        {% if request.GET.ordering == 'id_prestacion_paciente__id_prestacion__nombre' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-id_prestacion_paciente__id_prestacion__nombre' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'id_prestacion_paciente__id_obra_social__nombre' %}-id_prestacion_paciente__id_obra_social__nombre{% else %}id_prestacion_paciente__id_obra_social__nombre{% endif %}">
                        Obra Social
                        {% if request.GET.ordering == 'id_prestacion_paciente__id_obra_social__nombre' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-id_prestacion_paciente__id_obra_social__nombre' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="?{{ request.GET.urlencode }}&ordering={% if request.GET.ordering == 'id_agenda__id_profesional_tratamiento__id_profesional__nombre' %}-id_agenda__id_profesional_tratamiento__id_profesional__nombre{% else %}id_agenda__id_profesional_tratamiento__id_profesional__nombre{% endif %}">
                        Profesional
                        {% if request.GET.ordering == 'id_agenda__id_profesional_tratamiento__id_profesional__nombre' %}
                            <i class="bi bi-caret-down-fill"></i>
                        {% elif request.GET.ordering == '-id_agenda__id_profesional_tratamiento__id_profesional__nombre' %}
                            <i class="bi bi-caret-up-fill"></i>
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="#">
                        Tratamiento
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for asistencia in asistencias %}
            <tr>
                <td>{{ asistencia.id_prestacion_paciente.id_paciente.apellido }}</td>
                <td>{{ asistencia.id_prestacion_paciente.id_paciente.nombre }}</td>
                <td>{{ asistencia.fecha }}</td>
                <td>{{ asistencia.hora }}</td>
                <td>{{ asistencia.id_agenda.hora_inicio }}</td>
                <td>{{ asistencia.id_agenda.tiempo }}</td>
                <td>{{ asistencia.id_prestacion_paciente.id_prestacion.nombre }}</td>
                <td>{{ asistencia.id_prestacion_paciente.id_obra_social.nombre }}</td>
                <td>{{ asistencia.id_agenda.id_profesional_tratamiento.id_profesional.nombre }}</td>
                <td>{{ asistencia.id_agenda.id_profesional_tratamiento.id_tratamiento.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // Inicializa el datepicker en los campos de fecha
        $('#fecha-desde').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
        
        $('#fecha-hasta').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock %}