{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Planes</h2>
    <a href="{% url 'plan_create' %}" class="btn btn-success mb-4">
        <i class="bi bi-plus-circle"></i> Nuevo Plan
    </a>
    <a href="{% url 'generate_cuotas' %}" class="btn btn-primary mb-4" onclick="return confirm('Solo generara a los pacientes que tengan Agenda y Plan activo. ¿Continuar?');">
        <i class="bi bi-plus-circle"></i> Generar Cuotas
    </a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in planes %}
                <tr>
                    <td>{{ plan.nombre }}</td>
                    <td>{{ plan.descripcion }}</td>
                    <td>{{ plan.valor }}</td>
                    <td>
                        <a href="{% url 'plan_delete' plan.id %}" class="btn btn-danger btn-sm me-2">
                            <i class="bi bi-trash"></i> Borrar
                        </a>
                        <a href="{% url 'plan_update' plan.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}