{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Prestaciones Paciente: {{ paciente.apellido }}, {{ paciente.nombre }}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Fecha Inicio</th>
                    <th>Prestacion</th>
                    <th>Obra social</th>
                    <th>Fecha Fin</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for prestacion_paciente in prestaciones_paciente %}
                <tr>
                    <td>{{ prestacion_paciente.fecha_inicio }}</td>
                    <td>{{ prestacion_paciente.id_prestacion.nombre }}</td>
                    <td>{{ prestacion_paciente.id_obra_social.nombre }}</td>
                    <td>{{ prestacion_paciente.fecha_fin }}</td>
                    <td>{{ prestacion_paciente.activo }}</td>
                    <td>
                        {% if user.is_staff %}
                        <a href="{% url 'delete_prestacion_paciente' prestacion_paciente.id %}" class="btn btn-danger btn-sm me-2">
                            <i class="bi bi-trash"></i> Finalizar Prestacion
                        </a>
                        <a href="#" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}