{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Tratamientos Profesional: {{ profesional.apellido }}, {{ profesional.nombre }}</h2>
    <a href="{% url 'tratamiento_profesional_create' profesional.id %}" class="btn btn-primary mb-4">
        <i class="bi bi-person-plus"></i> Asignar Nuevo Tratamiento
    </a>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Fecha Inicio</th>
                    <th>Tratamiento</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tratamiento_profesional in tratamientos_profesional %}
                <tr>
                    {% if tratamiento_profesional.activo == True %}
                    <td class="bg-success text-white">{{ tratamiento_profesional.fecha_inicio }}</td>
                    <td class="bg-success text-white">{{ tratamiento_profesional.id_tratamiento.nombre }}</td>
                    <td class="bg-success text-white">{{ tratamiento_profesional.activo }}</td>
                    <td class="bg-success text-white">
                        {% if user.is_staff %}
                        <a href="{% url 'tratamiento_profesional_delete' tratamiento_profesional.id %}"
                            class="btn btn-danger btn-sm me-2"
                            onclick="return confirm('¿Estás seguro de que deseas finalizar este tratamiento?');">
                            <i class="bi bi-trash"></i> Finalizar Tratamiento
                        </a>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="bg-danger text-white">{{ tratamiento_profesional.fecha_inicio }}</td>
                    <td class="bg-danger text-white">{{ tratamiento_profesional.id_tratamiento.nombre }}</td>
                    <td class="bg-danger text-white">{{ tratamiento_profesional.activo }}</td>
                    <td class="bg-danger text-white">
                        {% if user.is_staff %}
                        <a href="{% url 'tratamiento_profesional_delete' tratamiento_profesional.id %}"
                            class="btn btn-secondary btn-sm me-2">
                            <i class="bi bi-trash"></i> Finalizar Tratamiento
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}