{% extends 'home/base.html' %}

{% block content %}
<h2 class="text-center">Finanzas</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center shadow-sm mb-4">
                <div style="background-color: #009f95;" class="card-body">
                    <h5 style="color: #ffffff;" class="card-title">Carga Facturas</h5>
                    <a href="{% url 'upload' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-file-earmark-arrow-up"></i> Cargar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center shadow-sm mb-4">
                <div style="background-color: #009f95;" class="card-body">
                    <h5 style="color: #ffffff;" class="card-title">Lista Facturas</h5>
                    <a href="{% url 'list' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-file-earmark-ruled"></i> Ver Lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Orden de Pago</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center shadow-sm mb-4">
                <div style="background-color: #009f95;" class="card-body">
                    <h5 style="color: #ffffff;" class="card-title">Orden de Pago</h5>
                    <a href="{% url 'orden_pago_create' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-file-earmark-arrow-up"></i> Nueva Orden de Pago
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center shadow-sm mb-4">
                <div style="background-color: #009f95;" class="card-body">
                    <h5 style="color: #ffffff;" class="card-title">Lista de Ordenes de Pago</h5>
                    <a href="{% url 'orden_pago_list' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-receipt"></i> Ver Ordenes de Pago
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Beneficiarios</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center shadow-sm mb-4">
                <div style="background-color: #009f95;" class="card-body">
                    <h5 style="color: #ffffff;" class="card-title">Beneficiarios</h5>
                    <a href="{% url 'beneficiarios_list' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-person"></i> Ver Beneficiarios
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}