{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Detalles Profesional</h2>
    <div class="card p-4 shadow-sm">
        <div class="row mb-3">
            <div class="col">
                <h5 class="card-title text-center mb-4">{{ profesional.nombre }}, {{ profesional.apellido }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><strong>DNI:</strong> {{ profesional.numero_dni }}</p>
                <p class="card-text"><strong>Matricula:</strong> {{ profesional.matricula }}</p>
                <p class="card-text"><strong>Direccion:</strong> {{ profesional.direccion }}</p>
                <p class="card-text"><strong>Celular:</strong> {{ profesional.celular }}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ profesional.fecha_nacimiento }}</p>
                <p class="card-text"><strong>Sexo:</strong> {{ profesional.id_sexo.nombre }}</p>
                <p class="card-text"><strong>Localidad:</strong> {{ profesional.id_localidad.nombre }}</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'profesional_list' %}" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Volver a la lista
        </a>
        {% if user.is_staff %}
        <div class="btn-group">
            <a href="{% url 'profesional_delete' profesional.id %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Eliminar
            </a>
            <a href="{% url 'profesional_update' profesional.id %}" class="btn btn-primary">
                <i class="bi bi-pencil"></i> Editar
            </a>
            <a href="{% url 'tratamiento_profesional_list' profesional.id %}" class="btn btn-primary">
                <i class="bi bi-calendar-check-fill"></i> Tratamientos
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
