{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Detalles Profesional</h2>
    <div class="card p-4 shadow-sm">
        <div class="row mb-3">
            <div class="col">
                <h5 class="card-title text-center mb-4">{{ profesional.nombre }}, {{ profesional.apellido }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><strong>DNI:</strong> {{ profesional.numero_dni }}</p>
                <p class="card-text"><strong>Matricula:</strong> {{ profesional.matricula }}</p>
                <p class="card-text"><strong>Direccion:</strong> {{ profesional.direccion }}</p>
                <p class="card-text"><strong>Celular:</strong> {{ profesional.celular }}</p>
            </div>
            <div class="col-md-6">
                <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ profesional.fecha_nacimiento }}</p>
                <p class="card-text"><strong>Sexo:</strong> {{ profesional.id_sexo.nombre }}</p>
                <p class="card-text"><strong>Localidad:</strong> {{ profesional.id_localidad.nombre }}</p>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row mt-3">
        <div class="col-md-6 mb-3">
            <a href="{% url 'profesional_list' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left-circle"></i> Volver a la lista
            </a>
        </div>
        <!-- Primera columna -->
        <div class="col-md-3 mb-3">
            {% if profesional.activo %}
            <a href="{% url 'tratamiento_profesional_list' profesional.id %}" class="btn btn-outline-primary w-100 mb-2">
                <i class="bi bi-list me-2"></i> Tratamientos
            </a>
            <a href="{% url 'profesional_update' profesional.id %}" class="btn btn-primary w-100 mb-2">
                <i class="bi bi-pencil me-2"></i> Editar
            </a>
            {% else %}
            <a href="{% url 'paciente_reactivate' paciente.id %}" class="btn btn-warning w-100 mb-2"
                onclick="return confirm('Esto va a restaurar al Profesional');">
                <i class="bi bi-arrow-up-circle-fill me-2"></i> Reactivar
            </a>
            {% endif %}
        </div>
        <!-- Segunda columna -->
        <div class="col-md-3">
            {% if profesional.activo %}
            <a href="{% url 'agenda_profesional' profesional.id %}" class="btn btn-outline-primary w-100 mb-2">
                <i class="bi bi-calendar me-2"></i> Ver Agenda
            </a>
            <a href="{% url 'profesional_delete' profesional.id %}" class="btn btn-danger w-100 mb-2"
                onclick="return confirm('Esto va a borrar el Profesional');">
                <i class="bi bi-trash me-2"></i> Eliminar
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
