{% extends 'inicio/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Nueva Alta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.id_paciente_rehabilitacion }}

        <div class="mb-3">
            <label for="{{ form.fecha.id_for_label }}" class="form-label">Fecha</label>
            {{ form.fecha }}
        </div>

        <div class="mb-3">
            <label for="{{ form.id_diagnostico_etiologico.id_for_label }}" class="form-label">Diagnóstico</label>
            {{ form.id_diagnostico_etiologico }}
        </div>

        <div class="mb-3" id="nuevo_diagnostico_etiologico_container" style="display:none;">
            <label for="nuevo_diagnostico_etiologico" class="form-label">Nombre del nuevo diagnóstico</label>
            <input type="text" name="nuevo_diagnostico_etiologico" id="nuevo_diagnostico_etiologico" class="form-control" placeholder="Ingrese diagnóstico etiologico">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="#" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}